<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.1.1/dist/vue.global.prod.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body{
            font-size: .9em;
        }
        .tache_terminer{
            opacity: 0.5;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <div id="app" class="container"> 
        <div class="col-xs-10">
            <h1 class="text-center text-info">{{ project_name }}</h1>
        </div>
        <form class="col-xs-10 row">
            <label for="" class="col-xs-12">Entrez le nom de votre tâche: </label>
            <input v-model="nom_de_la_tache" @keydown.prevent.enter="creer_une_tache()" type="text" class="form-control rounded">
            <button @click.prevent="creer_une_tache()" class="btn btn-success col-md-6 col-xs-12 mx-auto mx-auto">Créer une tache</button>
        </form>
        <table class="table">
            <thead class="text-capitalize text-center">
                <td>
                    Nom
                </td>
                <td>
                    Tache acccompli ?
                </td>
            </thead>
            <tbody class="text-center">
                <tr v-for="tache in taches" :class="tache.est_termine ? 'tache_terminer': '' ">
                    <td>
                        <span v-if="!tache.est_en_modif"  @dblclick="modifier_nom_tache(tache)">{{ tache.nom }}</span>
                        <input @keydown.enter="tache_modifier(tache)" v-else type="text" v-model="nom_modifer">
                    </td>
                    <td>
                        <span v-show="tache.est_termine">oui</span>
                        <span v-show="!tache.est_termine">non</span>
                    </td>
                    <td>
                        <input type="checkbox" v-model="tache.est_termine">
                    </td>
                    <td>
                        <button @click="supprimer_une_tache(tache)" class="btn-xs btn-danger">x</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <span class="col-12 col-md-4">Nombre de taches total: {{ taches.length }}</span>
            <span class="col-12 col-md-4">Nombre de taches faites: {{ nombre_de_taches_faite() }}</span>
            <span class="col-12 col-md-4">Nombre de taches à faire: {{ nombre_de_taches_a_faire() }}</span>
        </div>  
        
        <div class="row">
            <button @click="supprimer_toutes_les_taches" class="float-xs-center col-md-6 col-12 text-xs btn btn-danger btn-xs">Supprimer toutes les taches</button>
            <button @click="supprimer_les_taches_accomplis" class="float-xs-center col-12 col-md-6 text-xs btn btn-warning btn-xs">Supprimer les taches accomplis</button>
        </div>
    </div>
    <script>
        /*
        -Intallation fonctionnnelle: ok
        -vue: ok
        -ajouter une tache: ok
        -supprimer toutes les taches: ok
        -exécuter une tache: ok
        -supprimer une tache: ok
        -ajouter un bouton créer la tâches: 
        */
        const {createApp} = Vue
        
        class Tache{
            nom = ""
            est_termine = false
            est_en_modif = false
            constructor(nom="", est_termine=false){
                this.nom = nom
                this.est_termine = est_termine
            }
            
        }
        //création d'un tache témoin
        const tache_test = new Tache("tache de test")
        
        createApp({
            data(){
                return {
                    project_name: "TODO LIST",
                    message: "Je suis le message",
                    nom_de_la_tache: "", 
                    nom_modifer: "",
                    taches: [tache_test]
                }
            },
            methods: {
                creer_une_tache(){
                    if(this.nom_de_la_tache.trim() == ""){
                        alert('donnez un nom à votre projet')
                    }else{
                        tache = new Tache(this.nom_de_la_tache)
                        this.taches.push(tache)
                        this.nom_de_la_tache= ""
                    }
                    
                },
                supprimer_toutes_les_taches(){
                    this.taches = []
                },
                supprimer_une_tache(tache){
                    console.log(tache.nom)
                    _new_tache = this.taches.filter((t)=>t!=tache)
                    this.taches = _new_tache               
                },
                nombre_de_taches_faite(){
                    return this.taches.filter((t)=>t.est_termine).length
                },
                nombre_de_taches_a_faire(){
                    return this.taches.filter((t)=> !t.est_termine).length
                },
                supprimer_les_taches_accomplis(){
                    this.taches = this.taches.filter((t) => !t.est_termine)
                },
                modifier_nom_tache(tache){
                    this.nom_modifer = tache.nom
                    tache.est_en_modif = true
                },
                tache_modifier(tache){
                    tache.nom = this.nom_modifer
                    tache.est_en_modif = false
                }
            }
        }).mount("#app")

    </script>
</body>
</html>